html {
  overflow-y: auto;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .container {
  flex: auto;
} */

.content-wrapper {
  flex: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input-container {
  width: 300px;
}
.search-container {
  height: 80px;
  flex-grow: initial;
}
.search-input {
  width: 100%;
}

.footer {
  padding: 16px;
}
