html {
  overflow-y: auto;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .container {
  flex: auto;
} */

.content-wrapper {
  flex: 1;
  padding:1rem;
  width:100%;
}

.container {
  flex-grow: initial;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer {
  margin-top: 16px;;
  padding: 16px;
}

.is-fullwidth {
  width: 100%;
}

/* .pagination {
  margin-bottom: 16px;
} */